.links {
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
    li {
        line-height: 2.8;
    }
            .links-inner {
              max-width: 1100px;
              margin: 0 auto;
              padding: 0 20px;
              display: grid;
              grid-template-columns: repeat(6, 1fr);
              grid-gap: 10px;
              align-items: flex-start;
              justify-content: center;
            }
  }
  
  @include media-query(tablet){
   
  .links .links-inner {
    grid-template-columns: repeat(2, 1fr);
  }
  }
  @include media-query(phone){
    .links .links-inner {
        grid-template-columns: 1fr;
        ul {
            margin-bottom: 20px;
          }
      }
  }



  
  /* Footer */
  .footer {
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
    
    .footer-inner {
      max-width: 1100px;
      margin: 0 auto;
      padding: 0 20px 0 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;


      div {
          margin-bottom: 20px;
          display: flex;
          align-items: center;
        }
        
        i {
            margin-right: 10px;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            
            li {
                margin-right: 30px;
                margin-bottom: 20px;
            }
        }
    }
}
  

@include media-query(tablet){
    .footer .footer-inner li{ display: none}
    .footer .footer-inner li:nth-child(2n){ display: block}
    .footer .footer-inner li:last-child{ display: block}
}
@include media-query(phone){
    .footer .footer-inner li{ display: none}
    .footer .footer-inner li:last-child{ display: block}
}