.menu-btn {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 0;
    z-index: 2;
    display: none;
}
  

/* Nav */
.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;

    .logo {
        width: 108px;
    }

    ul {
        display: flex;
        
        li {
            padding: 0 10px;
            a {
                padding-bottom: 2px;
                transition: transform 0.4s ease-in;

                &:hover {
                    border-bottom: 2px solid #262626;
                }
            }
              
        }
    }

    ul.main-menu {
        flex: 1;
        margin-left: 20px;
    }

}



@media screen and (max-width : 768px){
    .menu-btn {
        display: block;
        &:active {
          opacity: 0.5;
        }
    }
    
    
    .main-nav {
        ul.main-menu {
            z-index: 100;
            display: block;
            position: absolute;
            top:0;
            left: 0;
            background: #f2f2f2;
            width: 80%;
            height: 100%;
            border-right: #ccc 1px solid;
            opacity: 0.99;
            padding: 30px;
            transform: translateX(-500px);
            transition: transform 0.5s ease-in-out;
            li {
                padding: 10px;
                border-bottom: #ccc solid 1px;
                font-size: 14px;
              }
              li:last-child {
                border-bottom: 0;
              }
          }
          ul.main-menu.show {
            transform: translateX(-20px);
          }    

        ul.right-menu {
        margin-right: 50px;
        }
    }
    
}