ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #262626 ;
}

section{
    margin-top: 20px;
}

section#section-1{
    margin-top: 0px !important;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}

@include media-query(phone){
    .container{
        width:95% ;
    }
}

@include media-query(tablet){
    .container{
        width:90% ;
    }
}

.text-small{
    font-size: 13px !important;
    font-weight: 600 !important;
}

.c-pointer{
    cursor: pointer;
}

main{
    margin-top: 65px;
}