.banner{
    position: relative;
}
.banner{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    position: relative;

    .content{
        position: absolute;
        top : 50%;
        left: 50px;
        transform: translateY(-50%);
        text-align: left;

        h2 , p{
            margin-bottom: 12px;
        }

    }
}

.banner-1{
    background: url('../../images/banner-1.png') no-repeat center center/cover;
}
.banner-2{
    background: url('../../images/banner-2.jpg') no-repeat center center/cover;
}


.slick-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    text-align: center;
    li {
        display: inline-block;
        align-self: center;
        padding: 0 5px;
            button {
            padding: 0;
            background: #333333;
            border-radius: 30px;
            border: 1px solid #333333;
            display: inline-block;
            height: 8px;
            overflow: hidden;
            text-indent: -999em;
            width: 8px;
            position: relative;
            transition: 0.3s ease;
            }
    }
    li.slick-active button {
        border-radius: 30px;
        border: 1px solid #333333;
        background: transparent;
    }
}