
.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 8px 20px;
    background: var(--primary-theme-color);
    color: var(--text-color-light);
    font-size: 15px;
    border: 1px solid transparent;

    &:hover{
        
        i{
            margin-left: 5px;
        }
    }
}

.btn-full{
    width: 100%;
    text-align: center;
    

    &:hover{
        text-decoration: underline;
        padding: 8px 0;
        border: 1px  dotted var(--anchor-tag-color) !important;
    }
}